/************ 1-10. promo box  ************/
.promo-box .item {
	position: relative;
	text-align: center;
	padding: 40px 35px;
	overflow: hidden;
	margin-bottom: 20px;
}
.promo-box .item i {
    font-size: 40px;
    line-height: 30px;
    color: orange;
    margin-bottom: 30px;
    display: inline-block; 
}
.promo-box .item h5 {
	font-family: 'Raleway', sans-serif;
    color: #1c1c1c;
    line-height: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
    z-index: 5;
}
.promo-box .item p {
	font-size: 14px;
	line-height: 24px;
}
.promo-box .fa-arrow-right {
	position: absolute;
	font-size: 18px !important;
	left: 0;
	right: 0;
	bottom: -67px;
	display: flex;
	justify-content: center;
	opacity: 0;
	background: transparent;
}
.promo-box .item:hover .fa-arrow-right {
	opacity: 1;
}
.promo-box .item:after {
	content: url("../img/promo/01.jpg");
	display: block;
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	right: 0;
	 -webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
			 transition: all .3s ease-in-out;
}
.promo-box .item:hover:after {
	opacity: 1;
	 -webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
			 transition: all .3s ease-in-out;
}
.promo-box .item:hover h5,
.promo-box .item:hover p {
	color: #ffffff;
	z-index: 99;
}
.promo-box .item:hover i,
.promo-box .item:hover .fa-arrow-right {
	color: #ffea00;
}
.promo-box .item .content {
	position: relative;
	z-index: 99;
}
.promo-box .item .overlay {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(1, 83, 159, 0.85);
	opacity: 0;
	z-index: 1;
	 -webkit-transition: opacity .3s ease-in-out;
		-moz-transition: opacity .3s ease-in-out;
			 transition: opacity .3s ease-in-out;
	
}
.promo-box .item:hover .overlay {
	opacity: 1;
	 -webkit-transition: opacity .3s ease-in-out;
		-moz-transition: opacity .3s ease-in-out;
			 transition: opacity .3s ease-in-out;

}
.bg-ghostwhite {
    background: #F2F9FF;
}


/* EVENTS SECTION */
.events_section_area #projects{
    display: flexbox;
    flex-direction: row-reverse;
}
.events_section_area .events_single {
    margin: 60px 20px 0;
}
.events_section_area .events_single img {
    width: 100%;
}
.events_section_area .events_single p {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    margin-top: 14px;
    font-weight: 400;
    position: relative;
}
.events_section_area .events_single p i {
    font-size: 15px;
    position: absolute;
    left: 0;
    top: 2px;
}
.events_section_area .events_single p span.event_left {
    left: 0;
    position: absolute;
    padding-left: 20px;
}
.events_section_area .events_single p span.event_right {
    position: absolute;
    right: 0;
    padding-left: 20px;
}
.events_section_area .events_single h3 {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 70px;
    text-align: center;
    color: #251021;
}
.events_section_area .events_single:hover h3 {
    /*color: #251021;*/
    text-decoration: none;
    color: lightslategray;
}
.events_section_area .events_single h6 {
    color: #6f6f6f;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
}
.wrappers .events_section_area h2 {
    color: #3c354e;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin: 115px auto 50px;
    position: relative;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin: 115px 0 50px;
}
/*.wrappers .events_section_area h2::before {
    background: #251021 none repeat scroll 0 0;
    bottom: -13px;
    content: "";
    height: 2px;
    left: 48%;
    position: absolute;
    width: 75px;
    margin: 0 auto;
}*/
.wrappers .events_section_area p {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;  
}
.footer_carosal {
    background: #f5f5f5 none repeat scroll 0 0;
    height: 150px;
    padding: 60px 0;
}
.footer_carosal .carousel .carousel-inner .carousel-item img {
    width: 150px;
}
.footer_carosal .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -40px;

}
/* The colour of the indicators */
.footer_carosal .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}
.footer_carosal .carousel-indicators .active {
background: #707070;
}

