@media (min-device-width : 320px) and (max-device-width : 480px) {
  .navbar{
    padding: 25px;
  }
  .navbar-nav{
    padding: 10px;
  }  
  .me i{
        display: none!important;
    }
    .events_section_area #projects{
    flex-direction: column-reverse;
}
.mt-0, .my-0 {
    margin-top: 2rem!important;
  }

  /*.img-responsive{
    border-radius: 38px!important;
  }*/
  .gallery-img {
    backface-visibility: hidden;
    transition: all .5s;
}

.gallery-img:hover {
    transform: scale(1.05);
    color: rgba(6, 12, 34, 0.6);
}

  #exampleModal{
    margin-top: 8rem;

  }
  .modal-content{
    background-color: rgba(40, 75, 82, 0.562)!important;
    color: ghostwhite;
    
  }
    
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 768px) {
 /* .navbar{
    padding: 25px;
  
  }*/
  .navbar-nav{
    padding: 10px;
  }
  .back2{
    border-radius: 8px !important;
    border: 4px solid #fcfcfc;
  }
    .mt-0, .my-0 {
        margin-top: 2rem!important;
      }
      #exampleModal{
        margin-top: 5rem;
        
      }
      .modal-content{
        background-color: rgba(40, 75, 82, 0.562)!important;
        color: ghostwhite;
      }
}
/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .navbar{
    padding: 25px;
    
  }
  .navbar-nav{
    padding: 10px;
  }
.carousel-caption {
  bottom: 25rem;
  z-index: 10;
} 
.back2{
  border-radius: 8px !important;
}
    
}
