@media (min-device-width : 320px) and (max-device-width : 480px) {
    .me i{
        display: none!important;
    }
    .events_section_area #projects{
    flex-direction: column-reverse;
}
.mt-0, .my-0 {
    margin-top: 2rem!important;
  }

  #exampleModal{
    margin-top: 10rem;
  }
    
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 768px) {
    .mt-0, .my-0 {
        margin-top: 2rem!important;
      }
      #exampleModal{
        margin-top: 5rem;
      }
}
/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
    
.carousel-caption {
  bottom: 25rem;
  z-index: 10;
} 
    
}
